<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Enter a Question</h2>
  <p>Search for relevant questions by entering a question in the box below</p>
  <form action="/display/result" method="POST">
    {% csrf_token %}
<!--     {{ form }} -->
    <div class="form-group">
      <label for="question">Question:</label>
      <!-- <input type="text" class="form-control" id="question" value="{{ question }}">
      <input type="submit" name="Search"> -->
      <input type="text" class="form-control" name="question" value="{{ question }}">
      <p></p>
      <input type="submit" class="submit_btn btn label-success" value="Search" />
    </div>
  </form>
  <img src="{{ bar_graph }}">
  <img src="{{ word_cloud }}">
  <img src="{{ tag_distribution }}">
  <img src="{{ question_tag_percentage }}">
</div>
</body>
</html>
